<table class="table table-bordered table-hover table-success  border-primary">
    <thead>
        <tr>
            <th class="text-center" scope="col">#ID</th>
            <th class="text-center" scope="col">Title</th>
            <th class="text-center" scope="col">Content</th>
            <th class="text-center" scope="col">Banner</th>
            <th class="text-center" scope="col" style="width: 150px;">Action</th>
        </tr>
    </thead>
    <tbody id="table-body">
        <tr>
            <th class="text-center" scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <div class="d-flex" style="max-height: 200px;">
                    <img src="/public/assets/images/no-image.jpg" alt="">
                </div>
            </td>
            <td>
                <div class="d-flex gap-2 justify-content-center">
                    <button type="button" class="btn btn-sm btn-warning">
                        <i data-feather="edit"></i> 
                    </button>
                    <button type="button" class="btn btn-sm btn-danger">
                        <i data-feather="trash-2"></i> 
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>